.con {
  padding: 21px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.con .left,
.con .right {
  margin: 14px;
  padding: 14px;
}

.con .left img {
  width: 21rem;
  height: 21rem;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.con .right {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.con .right p {
  margin: 0.4rem;
  font-size: 1.4rem;
  font-weight: bolder;
}

.con .right button {
  width: 200px;
  font-size: large;
  font-weight: bolder;
}

@media (max-width: 1100px) {
  .con {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    justify-items: center;
  }

  .con .left,
  .con .right {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .con .right p {
    font-size: 0.9rem;
  }
}
