.container h1 {
  margin-bottom: 1.7rem;
}

.container ol li {
  font-size: 1.4em;
  color: #cecece;
}

.container img:first-child {
  display: block;
  width: 21rem;
  height: 9rem;
  border-radius: 4%;
}

.container img:last-of-type {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.start {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.start .btn {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.8em;
  font-size: 1.2em;
  color: #202020;
  text-decoration: none;
  background-color: #5a8eff;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
}

#form {
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  /* margin-top: 2em; */
}

.input {
  text-align: center;
  padding: 0.7em 2em;
  border: 0.1em solid gray;
  font-size: large;
  font-weight: bold;
  border-radius: 1.4rem;
  -webkit-border-radius: 1.4rem;
  -moz-border-radius: 1.4rem;
  -ms-border-radius: 1.4rem;
  -o-border-radius: 1.4rem;
}

.container p {
  /* padding: 0.4em; */
  font-size: large;
  color: red;
  text-wrap: balance;
  text-align: center;
}

.footer-auth a {
  font-weight: bold;
  font-size: larger;
  text-decoration: underline;
  text-anchor: middle;
  text-decoration-line: underline;
  line-height: 5;
}
